ffmpeg-python==0.2.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.2.1
numpy==2.3.2
pillow==11.3.0
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.7
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
requests==2.32.4
setuptools==79.0.0
tqdm==4.67.1
wheel==0.42.0
yt-dlp==2025.7.21

